<div class="body">
    <div class="rdb">Ru <s>DRILL</s> Blog</div>
    <div class="blg">
        <div class="container">
            <div class="quest">
                <div class="qst">Зачем всё это?</div>
                <div class="answ">Ответ очень прост... <br> Здесь я хочу делиться своими переживаниями, эмоциями, победами и поражениями, в каких-либо делах. Кто-то может задать вопрос, почему не канал в телеграме, там же проще и удобнее? А я скажу, что это очень скучно и заезженно. Благодаря этому сайту я смогу совершенствоваться, развиваться и делиться с тобой своей жизнью. <br> Я надеюсь, что тебе будет здесь хорошо, тебя тут любят!</div>
            </div>
        </div>
    </div>
</div>
